<!DOCTYPE html>

<html>
  <head>
    <title>Contações</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <div class="main-content">
      {{> header}}
      <p>Procure por um ativo</p>
      <form>
        <input type="text" placeholder="codigo do ativo">
        <button>Buscar</button>
      </form>
      <h3></h3>
      <p id="open"></p>
      <p id="close"></p>
      <p id="date"></p>
      <p id="volume"></p>
    </div>
      Index body content
      {{> footer}}
  </body>
      <script src="/js/app.js"></script>
</html>